v{{<layout}}

{{$journeyHeader}}
{{#t}}journeys.lost.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$title}}
{{#t}}pages.confirm.header{{/t}}
{{/title}}

{{$header}}
{{<partials-page-header}}
{{$page-header}}
{{#t}}pages.confirm.header{{/t}}
{{/page-header}}
{{/partials-page-header}}
{{/header}}

{{$content}}


{{<partials-form}}

{{$form}}

<h3>{{#t}}pages.employee-details.legend{{/t}} </h3>

<table id="employee-details" class="table-details">

    <tr>
        <td>{{#t}}fields.employee-name-text.label{{/t}}</td>
        <td>{{values.employee-name-text}}</td>
        <td><a href="employee-details/edit#employee-name-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}fields.date-of-birth.legend{{/t}}</td>
        <td>{{values.date-of-birth-formatted}}</td>
        <td><a href="employee-details/edit#date-of-birth-day" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}fields.nationality.label{{/t}}</td>
        <td>{{values.nationality}}</td>
        <td><a href="employee-details/edit#nationality" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{#values.uk-address-street}}
    <tr>
        <td>{{#t}}fields.address{{/t}}</td>
        <td>
            {{values.uk-address-house-number}} {{values.uk-address-street}},</br>
            {{values.uk-address-town}},</br>
            {{#values.uk-address-county}}{{values.uk-address-county}},{{/values.uk-address-county}}</br>
            {{values.uk-address-postcode}}
        </td>
        <td><a href="employee-details/edit#uk-address-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.uk-address-street}}
    {{#values.job-title}}
    <tr>
        <td>{{#t}}fields.job-title.label{{/t}}</td>
        <td>{{values.job-title}}</td>
        <td><a href="employee-details/edit#job-title" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.job-title}}
    {{#values.hours-per-week}}
    <tr>
        <td>{{#t}}fields.hours-per-week.label{{/t}}</td>
        <td>{{values.hours-per-week}}</td>
        <td><a href="employee-details/edit#hours-per-week" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.hours-per-week}}

</table>

<br/> 

<h3>{{#t}}pages.employer-details.legend{{/t}} </h3>

<table id="employer-details" class="table-details">

    <tr>
        <td>{{#t}}fields.business-name.label{{/t}}</td>
        <td>{{values.business-name}}</td>
        <td><a href="employer-details/edit#business-name" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}pages.check-details.table.headers.date-of-birth{{/t}}</td>
        <td>{{values.date-of-birth-formatted}}</td>
        <td><a href="employee-details/edit#date-of-birth-day" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}pages.check-details.table.headers.nationality{{/t}}</td>
        <td>{{values.nationality}}</td>
        <td><a href="employee-details/edit#nationality" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{#values.no-email}}
    {{#values.contact-address-street}}
    <tr>
        <td>{{#t}}pages.check-details.table.headers.contact-address{{/t}}</td>
        <td>
            {{values.contact-address-house-number}} {{values.contact-address-street}},
            {{values.contact-address-town}},
            {{#values.contact-address-county}}{{values.contact-address-county}},{{/values.contact-address-county}}
            {{values.contact-address-postcode}}
        </td>
        <td><a href="contact-details/edit#address-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.contact-address-street}}
    {{/values.no-email}}
    {{#values.brp-card}}
    <tr>
        <td>{{#t}}pages.check-details.table.headers.brp-card-number{{/t}}</td>
        <td>{{values.brp-card}}</td>
        <td><a href="employee-details/edit#brp-card" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.brp-card}}
    {{#values.email}}
    <tr>
        <td>{{#t}}pages.check-details.table.headers.email{{/t}}</td>
        <td>{{values.email}}</td>
        <td><a href="contact-details/edit#email" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.email}}
    {{#values.phone}}
    <tr>
        <td>{{#t}}pages.check-details.table.headers.phone{{/t}}</td>
        <td>{{values.phone}}</td>
        <td><a href="contact-details/edit#phone" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.phone}}
</table>
{{<partials-org-type}}{{/partials-org-type}}


{{#input-submit}}confirm{{/input-submit}}

{{/form}}

{{/partials-form}}


{{/content}}

{{/layout}}
