{{<layout}}

{{$journeyHeader}}
{{#t}}journeys.ecs.header{{/t}}
{{/journeyHeader}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$title}}
{{#t}}pages.confirm.header{{/t}}
{{/title}}

{{$header}}
{{<partials-page-header}}
{{$page-header}}
{{#t}}pages.confirm.header{{/t}}
{{/page-header}}
{{/partials-page-header}}
{{/header}}

{{$content}}


{{<partials-form}}

{{$form}}


<table id="form-details" class="table-details">
    <tr>
        <td>{{#t}}fields.work-for-you.legend{{/t}}</td>
        <td>{{values.work-for-you}}</td>
        <td><a href="work-for-you" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>

    {{#values.when-did-they-start-day}}
    <tr>
        <td>{{#t}}fields.when-did-they-start.legend{{/t}}</td>
        <td>{{values.when-did-they-start-day}}-{{values.when-did-they-start-month}}-{{values.when-did-they-start-year}}</td>
        <td><a href="when-did-they-start" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.when-did-they-start-day}}

    {{#values.tupe-transfer}}
    <tr>
        <td>{{#t}}fields.tupe-transfer.label{{/t}}</td>
        <td>{{values.tupe-transfer}}</td>
        <td><a href="tupe-transfer" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.tupe-transfer}}

    {{#values.tupe-transfer-date}}
    <tr>
        <td>{{#t}}fields.tupe-transfer-date.legend{{/t}}</td>
        <td>{{values.tupe-transfer-date}}</td>
        <td><a href="tupe-transfer-date/edit#" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.tupe-transfer-date}}

    <tr>
        <td>{{#t}}fields.other-docs.legend{{/t}}</td>
        <td> {{#t}}fields.other-docs.{{values.other-docs}}.label{{/t}} </td>
        <td><a href="other-documents" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>

    {{#values.original-document}}
    <tr>
        <td>{{#t}}fields.original-document.legend{{/t}}</td>
        <td>{{values.original-document}}</td>
        <td><a href="original-document" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.original-document}}

    {{#values.arc-serial-number}}
    <tr>
        <td>{{#t}}fields.arc-serial-number.label{{/t}}</td>
        <td>{{values.arc-serial-number}}</td>
        <td><a href="arc-card-details/edit#arc-serial-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.arc-serial-number}}

    {{#values.ifb-ref-number}}
    <tr>
        <td>{{#t}}fields.ifb-ref-number.label{{/t}}</td>
        <td>{{values.ifb-ref-number}}</td>
        <td><a href="arc-card-details/edit#ifb-ref-number" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.ifb-ref-number}}

    {{#values.settlement-protection}}
    <tr>
        <td>{{#t}}fields.settlement-protection.legend{{/t}}</td>
        <td>{{values.settlement-protection}}</td>
        <td><a href="settlement-protection/edit#" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.settlement-protection}}

    {{#values.ongoing-application-id-number}}
    <tr>
        <td>{{#t}}fields.ongoing-application-id-number.labelText{{/t}}</td>
        <td>{{values.ongoing-application-id-number}}</td>
        <td><a href="ongoing-application-id/edit#" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.ongoing-application-id-number}}

</table>

<br/>

<h3>{{#t}}pages.employee-details.legend{{/t}} </h3>

<table id="employee-details" class="table-details">

    <tr>
        <td>{{#t}}fields.employee-name-text.label{{/t}}</td>
        <td>{{values.employee-name-text}}</td>
        <td><a href="employee-details/edit#employee-name-text" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}fields.date-of-birth.legend{{/t}}</td>
        <td>{{values.date-of-birth-formatted}}</td>
        <td><a href="employee-details/edit#date-of-birth-day" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}fields.nationality.label{{/t}}</td>
        <td>{{values.nationality}}</td>
        <td><a href="employee-details/edit#nationality" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{#values.uk-address-street}}
    <tr>
        <td>{{#t}}fields.address.label{{/t}}</td>
        <td>
            {{values.uk-address-house-number}} {{values.uk-address-street}},</br>
            {{values.uk-address-town}},</br>
            {{#values.uk-address-county}}{{values.uk-address-county}},</br>{{/values.uk-address-county}}
            {{values.uk-address-postcode}}
        </td>
        <td><a href="employee-details/edit#uk-address-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.uk-address-street}}
    {{#values.job-title}}
    <tr>
        <td>{{#t}}fields.job-title.label{{/t}}</td>
        <td>{{values.job-title}}</td>
        <td><a href="employee-details/edit#job-title" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.job-title}}
    {{#values.hours-per-week}}
    <tr>
        <td>{{#t}}fields.hours-per-week.label{{/t}}</td>
        <td>{{values.hours-per-week}}</td>
        <td><a href="employee-details/edit#hours-per-week" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.hours-per-week}}

</table>

<br/>

<h3>{{#t}}pages.employer-details.legend{{/t}} </h3>

<table id="employer-details" class="table-details">

    <tr>
        <td>{{#t}}fields.business-name.label{{/t}}</td>
        <td>{{values.business-name}}</td>
        <td><a href="employer-details/edit#business-name" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    <tr>
        <td>{{#t}}fields.type-of-business.label{{/t}}</td>
        <td>{{values.type-of-business}}</td>
        <td><a href="employer-details/edit#type-of-business" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>

    {{#values.employer-uk-address-house-number}}
    <tr>
        <td>{{#t}}fields.business-address.label{{/t}}</td>
        <td>
            {{values.employer-uk-address-house-number}} {{values.employer-uk-address-street}},</br>
            {{values.employer-uk-address-town}},</br>
            {{#values.employer-uk-address-county}}{{values.employer-uk-address-county}},</br> {{/values.employer-uk-address-county}}
            {{values.employer-uk-address-postcode}}
        </td>
        <td><a href="employer-details/edit#employer-uk-address-group" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.employer-uk-address-house-number}}

    {{#values.employer-contact-name}}
    <tr>
        <td>{{#t}}fields.employer-contact-name.label{{/t}}</td>
        <td>{{values.employer-contact-name}}</td>
        <td><a href="employer-details/edit#employer-contact-name" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.employer-contact-name}}

    {{#values.employer-job-title}}
    <tr>
        <td>{{#t}}fields.job-title.label{{/t}}</td>
        <td>{{values.employer-job-title}}</td>
        <td><a href="employer-details/edit#employer-job-title" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.employer-job-title}}

    {{#values.employer-contact-telephone}}
    <tr>
        <td>{{#t}}fields.employer-contact-telephone.label{{/t}}</td>
        <td>{{values.employer-contact-telephone}}</td>
        <td><a href="employer-details/edit#employer-contact-telephone" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.employer-contact-telephone}}
    {{#values.employer-contact-email-address}}
    <tr>
        <td>{{#t}}fields.confirm-email-address.label{{/t}}</td>
        <td>{{values.employer-contact-email-address}}</td>
        <td><a href="employer-details/edit#employer-contact-email-address" class="button">{{#t}}buttons.change{{/t}}</a></td>
    </tr>
    {{/values.employer-contact-email-address}}
</table>

<br/>

{{#input-submit}}next{{/input-submit}}

{{/form}}

{{/partials-form}}


{{/content}}

{{/layout}}
