{{<layout}}

{{$journeyHeader}}
{{#t}}journeys.ecs.header{{/t}}
{{/journeyHeader}}

{{$title}}
{{#t}}journeys.ecs.header{{/t}}
{{/title}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}
<h2>{{#t}}pages.data-protection-declaration.title{{/t}}</h2>
<p>{{#t}}pages.data-protection-declaration.confirm-statement{{/t}}</p>

<ul class="list-bullet">
    <li>{{#t}}pages.data-protection-declaration.confirm-statement-list1{{/t}}</li>
    <li>{{#t}}pages.data-protection-declaration.confirm-statement-list2{{/t}}</li>
</ul>

<p>{{#t}}pages.data-protection-declaration.understand-statement{{/t}}</p>
<ul class="list-bullet">
    <li>{{#t}}pages.data-protection-declaration.understand-statement-list1{{/t}}</li>
    <li>{{#t}}pages.data-protection-declaration.understand-statement-list2{{/t}}</li>
</ul>

<h2>{{#t}}pages.data-protection-declaration.privacy-policy{{/t}}</h2>

<p>{{#t}}pages.data-protection-declaration.privacy-policy-content1{{/t}}</p>

<br/>

<p>{{#t}}pages.data-protection-declaration.privacy-policy-content2{{/t}}</p>

{{<partials-form}}

{{$form}}


<fieldset id="declaration_confirmation-group" class="{{#errors.declaration_confirmation}}validation-error{{/errors.declaration_confirmation}} form-group">

    {{#errors.declaration_confirmation}}
            <span id="declaration_confirmation-error" class="error-message">
              {{errors.declaration_confirmation.message}} Some more text
            </span>
    {{/errors.declaration_confirmation}}


    <div class="block-label">
        <input type="checkbox" name="declaration_confirmation" id="declaration_confirmation" tabindex="0">
        <label for="declaration_confirmation">{{#t}}fields.declaration_confirmation.label{{/t}}</label>
    </div>

</fieldset>

<br/>

{{#input-submit}}send{{/input-submit}}

{{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}
