{{<layout}}

    {{$journeyHeader}}
        {{#t}}journeys.ecs.header{{/t}}
    {{/journeyHeader}}

    {{$title}}
        {{#t}}journeys.ecs.header{{/t}}
    {{/title}}

    {{$validationSummary}}
        {{> partials-validation-summary}}
    {{/validationSummary}}

    {{$propositionHeader}}
        {{> partials-navigation}}
    {{/propositionHeader}}

    {{$content}}

        <h1>{{#t}}fields.eea-passport.label{{/t}}</h1>

        <div>
            <summary id="which-countries">{{#t}}pages.eea-passport.which-countries{{/t}}</summary>
            <p id="eea-countries" class="panel-indent hidden">{{#t}}pages.eea-passport.eea-countries{{/t}}</p>
        </div>

        {{<partials-form}}

            {{$form}}
                {{#radio-group}}eea-passport{{/radio-group}}
                {{#input-submit}}next{{/input-submit}}
            {{/form}}

        {{/partials-form}}

    {{/content}}

{{/layout}}