{{<layout}}

    {{$journeyHeader}}
        {{#t}}journeys.ecs.header{{/t}}
    {{/journeyHeader}}

    {{$title}}
        {{#t}}journeys.ecs.header{{/t}}
    {{/title}}

    {{$validationSummary}}
        {{> partials-validation-summary}}
    {{/validationSummary}}

    {{$propositionHeader}}
        {{> partials-navigation}}
    {{/propositionHeader}}

    {{$content}}

        {{<partials-form}}

            {{$form}}
                <h1>{{#t}}pages.employee-details.label{{/t}} </h1>
                <h3>{{#t}}pages.employee-details.legend{{/t}} </h3>
                {{#input-text}}employee-name-text{{/input-text}}
                <br/>

                <fieldset id="date-of-birth-group" class="{{#errors.date-of-birth}}validation-error{{/errors.date-of-birth}} form-group">

                   <span class="form-label-bold">{{#t}}fields.date-of-birth.legend{{/t}}</span>

                    {{#errors.date-of-birth}}
                            <span id="date-of-birth-error" class="error-message">
                              {{errors.date-of-birth.message}}
                            </span>
                    {{/errors.date-of-birth}}

                    <div class="form-group form-date">
                        <p id="date-hint" class="form-hint">
                            {{#t}}fields.date-of-birth.hint{{/t}}
                        </p>
                        {{#input-date}}date-of-birth{{/input-date}}
                    </div>
                </fieldset>

                {{#input-text}}nationality{{/input-text}}
                {{#input-text}}uk-address-house-number{{/input-text}}
                {{#input-text}}uk-address-street{{/input-text}}
                {{#input-text}}uk-address-town{{/input-text}}
                {{#input-text}}uk-address-county{{/input-text}}
                {{#input-text-code}}uk-address-postcode{{/input-text-code}}
                {{#input-text-code}}job-title{{/input-text-code}}
                {{#input-text-code}}hours-per-week{{/input-text-code}}

                {{#input-submit}}next{{/input-submit}}

            {{/form}}

        {{/partials-form}}

    {{/content}}

{{/layout}}