{{<layout}}

{{$journeyHeader}}
{{#t}}journeys.ecs.header{{/t}}
{{/journeyHeader}}

{{$title}}
{{#t}}journeys.ecs.header{{/t}}
{{/title}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}
{{$form}}
<h1 class="heading-large">{{#t}}pages.insufficient-information.label{{/t}} </h1>
<br/>
<p>{{#t}}pages.insufficient-information.legend{{/t}} </p>
{{/form}}
{{/partials-form}}

{{/content}}

{{/layout}}