{{<layout}}

{{$journeyHeader}}
{{#t}}journeys.ecs.header{{/t}}
{{/journeyHeader}}

{{$title}}
{{#t}}journeys.ecs.header{{/t}}
{{/title}}

{{$validationSummary}}
{{> partials-validation-summary}}
{{/validationSummary}}

{{$propositionHeader}}
{{> partials-navigation}}
{{/propositionHeader}}

{{$content}}

{{<partials-form}}

    {{$form}}
    {{#radio-group}}settlement-protection{{/radio-group}}
    {{#input-submit}}next{{/input-submit}}
    {{/form}}

{{/partials-form}}

{{/content}}

{{/layout}}