{{<layout}}

    {{$journeyHeader}}
        {{#t}}journeys.ecs.header{{/t}}
    {{/journeyHeader}}

    {{$title}}
        {{#t}}journeys.ecs.header{{/t}}
    {{/title}}

    {{$validationSummary}}
        {{> partials-validation-summary}}
    {{/validationSummary}}

    {{$propositionHeader}}
        {{> partials-navigation}}
    {{/propositionHeader}}

    {{$content}}
        {{<partials-form}}

            {{$form}}
                <fieldset id="date-of-birth-group" class="{{#errors.when-did-they-start}}validation-error{{/errors.when-did-they-start}} form-group">
                    <legend>
                        <span>{{#t}}fields.when-did-they-start.legend{{/t}}</span>
                    </legend>

                    {{#errors.when-did-they-start}}
                        <span id="date-of-birth-error" class="error-message">
                            {{errors.when-did-they-start.message}}
                        </span>
                    {{/errors.when-did-they-start}}

                    <div class="form-group form-date">
                        {{#input-date}}when-did-they-start{{/input-date}}
                    </div>
                </fieldset>

                {{#input-submit}}next{{/input-submit}}

            {{/form}}
        {{/partials-form}}

        {{$back}}{{/back}}

    {{/content}}

{{/layout}}